@{
    ViewData["Title"] = "Invitations Overview";
}

<h1>Invitations Overview</h1>

<div class="btn-group">
    <a class="btn btn-success" asp-controller="Invitations" asp-action="Create">Invite a person</a>   
</div>

<table class="table">
    <tr>
        <th>
            Event Name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.EventName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Role
            </td>            
        </tr>
    }
</table>

