@using ApplicationCore.Models.Enums;
@using WebUI.Models;
@model UserEventViewModel

<form method="post">
    <div>
        <label class="form-label">Name</label>
        <input class="form-control"
                data-val="true"
                data-val-required="The Name is required"
                asp-for="Name" />
    </div>
    <div>
        <label class="form-label">Category</label>
        <input class="form-control"
                data-val="true"
                data-val-required="The Category is required"
                asp-for="Category" />
    </div>
    <div>
        <label class="form-label">Place</label>
        <input class="form-control"
                data-val="true"
                data-val-required="The Place is required"
                asp-for="Place" />
    </div>
    <div>
        <label class="form-label">Start Time</label>
        <input class="form-control"
                type="datetime-local"
                data-val="true"
                data-val-required="The Start Time is required"
                id="StartDateTime"
                name="StartDateTime"
                asp-for="StartDateTime" />
    </div>
    <div>
        <label class="form-label">End Time</label>
        <input class="form-control"
                type="datetime-local"
                data-val="true"
                data-val-required="The End Time is required"
                id="EndDateTime"
                name="EndDateTime"
                asp-for="EndDateTime" />
    </div>
    <div>
        <label class="form-label">Description</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The Description is required"
               asp-for="Description" />
    </div>
    <div>
        <label class="form-label">AdditionalInfo</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The AdditionalInfo is required"
                asp-for="AdditionalInfo" />
    </div>
    <div>
        <label class="form-label">ImageUrl</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The ImageUrl is required"
                asp-for="ImageUrl" />
    </div>
    <div class="form-group">
        <label asp-for="Recurrency" class="control-label"></label>
        <select asp-for="Recurrency" class="form-control" asp-items="Html.GetEnumSelectList<Recurrency>()">
            <option value="Chose if event should be recurrent"></option>
        </select>
        <span asp-validation-for="Recurrency" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>