<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Create a notification</h3>
            </div>
        </div>
    </div>
</form>