@using ZeroTask.PL.Models;
@model UserEventViewModel

<form method="post">
    <div>
        <label class="form-label">Name</label>
        <input class="form-control"
                data-val="true"
                data-val-required="The Name is required"
                asp-for="Name" />
    </div>
    <div>
        <label class="form-label">Category</label>
        <input class="form-control"
                data-val="true"
                data-val-required="The Category is required"
                asp-for="Category" />
    </div>
    <div>
        <label class="form-label">Place</label>
        <input class="form-control"
                data-val="true"
                data-val-required="The Place is required"
                asp-for="Place" />
    </div>
    <div>
        <label class="form-label">Date</label>
        <input class="form-control"
                type="date"
                data-val="true"
                data-val-required="The Date is required"
                id="Date"
                name="Date"
                asp-for="Date"/>
    </div>
    <div>
        <label class="form-label">Time</label>
        <input class="form-control"
                type="time"
                data-val="true"
                data-val-required="The Time is required"
                id="Time"
                name="Time"
                asp-for="Time" />
    </div>
    <div>
        <label class="form-label">Description</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The Description is required"
               asp-for="Description" />
    </div>
    <div>
        <label class="form-label">AdditionalInfo</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The AdditionalInfo is required"
                asp-for="AdditionalInfo" />
    </div>
    <div>
        <label class="form-label">ImageUrl</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The ImageUrl is required"
                asp-for="ImageUrl" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>